*{margin: 0;padding:0;}
.clearfix{overflow:auto;_height:1%}
body{background: url(../img/bg2.jpg) no-repeat;background-size: 100% 100%;overflow: hidden;}
.yh_canvas{width:100%;position: absolute;top:0;left:0;}
.g-main{position: relative;height: 100%;}
.u-house{position: relative;z-index: 2;top: 0;height: 0.6rem;width: 100%;}
.u-house img{height: 0.6rem;width: 100%;}
.u-title{margin: -0.24rem auto 0;position: relative;z-index: 1;height: 0.85rem;width: 2.38rem;}
.u-title img{width: 2.38rem;height: 0.85rem;}
.u-logo{position: absolute;left: 50px;top:80px; }
.u-logo img{height: 1.46rem;width: 4.77rem;}
.u-flowers{position: absolute;right: 0;top: 56px;}
.u-flowers img{width: 4.49rem;height: 4.08rem;}
.u-btn{position: absolute;right: -1.05rem;bottom: 3.42rem;cursor: pointer;}
.u-btn img{width: 3.19rem;height: 0.9rem;}
.g-footer{height: 252px;position: absolute;width: 100%;bottom: 0.3rem;}
.g-footer .m-box{position: absolute;bottom: 0;opacity: 0;width: 1.82rem;height: 2.52rem;overflow: hidden;}
.u-front,.u-back{ width: 1.82rem;height: 2.52rem; -webkit-backface-visibility: hidden;-webkit-transition: .6s;-moz-backface-visibility: hidden;-moz-transition: .6s;-ms-backface-visibility: hidden;-ms-transition: .6s;backface-visibility: hidden;transition: .6s;position: absolute;left: 0;top: 0;}
.u-front{z-index: 2;-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-ms-transform: rotateY(0deg);transform: rotateY(0deg);}
.u-back{-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);transform: rotateY(-180deg);}
.u-front img,.u-back img{width: 1.82rem;height: 2.52rem;}
.u-back span{font-size: 16px;color: #fff;display: block;text-align: center;margin-top: 10px;}

.m-photo-2{margin:0 auto;margin-top: 110px}
.mp-2s{width:692px;}
.mp-3s{width:978px;}
.mp-4s{width:1392px;}
.m-photo-2 div{float:left;width: 128px;height: 190px;margin-right:30px;margin-bottom: 30px;background: url(../img/photo2.png) no-repeat;background-size: 100% 100%;}
.m-photo-2 .u-back span{height:40px;line-height: 40px;width:100%;position:absolute;bottom:5px;left:4px;background: url(../img/photo2_bm.png) no-repeat 0 0;background-size:120px;}
.m-photo-2.mp-2s div{margin-right:60px }
.m-photo-2.mp-3s div{margin-right:40px }
.m-photo-2.mp-2s .mp-item:nth-of-type(4){margin-right: 0}
.m-photo-2.mp-2s .mp-item:nth-of-type(8){margin-right: 0}
.m-photo-2.mp-3s .mp-item:nth-of-type(6){margin-right: 0}
.m-photo-2.mp-3s .mp-item:nth-of-type(12){margin-right: 0}
.m-photo-2.mp-4s .mp-item:nth-of-type(9){margin-right: 0}
.m-photo-2.mp-4s .mp-item:nth-of-type(18){margin-right: 0}

.g-footer .m-box:nth-of-type(1){left: 109px;z-index: 1}
.g-footer .m-box:nth-of-type(2){left: 189px;z-index: 2}
.g-footer .m-box:nth-of-type(3){left: 269px;z-index: 3}
.g-footer .m-box:nth-of-type(4){left: 350px;z-index: 4}
.g-footer .m-box:nth-of-type(5){left: 430px;z-index: 5}
.g-footer .m-box:nth-of-type(6){left: 504px;z-index: 6}
.g-footer .m-box:nth-of-type(7){left: 590px;z-index: 7}
.g-footer .m-box:nth-of-type(8){left: 664px;z-index: 8}
.g-footer .m-box:nth-of-type(9){left: 747px;z-index: 9}
.g-footer .m-box:nth-of-type(10){left: 829px;z-index: 10}
.g-footer .m-box:nth-of-type(11){left: 911px;z-index: 11}
.g-footer .m-box:nth-of-type(12){left: 990px;z-index: 12}
.g-footer .m-box:nth-of-type(13){left: 1070px;z-index: 13}
.g-footer .m-box:nth-of-type(14){left: 1150px;z-index: 14}
.g-footer .m-box:nth-of-type(15){left: 1230px;z-index: 15}
.g-footer .m-box:nth-of-type(16){left: 1310px;z-index: 16}
.g-footer .m-box:nth-of-type(17){left: 1390px;z-index: 17}
.g-footer .m-box:nth-of-type(18){left: 1470px;z-index: 18}
.g-footer .m-box:nth-of-type(19){left: 1550px;z-index: 19}
.g-footer .m-box:nth-of-type(20){left: 1630px;z-index: 20}
.g-footer .rise{bottom: 0.5rem;}

.mp-item{position: relative;}
.rise-2{position: absolute;z-index: 11}
.rise-2-final:after{content:'';display:block;position:absolute;bottom:0;}
.rise-2-final .u-front,.rise-2-final .u-back{}
.rise-2-final .u-front img,.rise-2-final .u-back img{width:1.2rem;height:1.8rem;margin-left: 4px;margin-top: 5px;border-radius: 16px}


.riseone{left: 5.1rem;bottom: 5rem;position: absolute;width: 1.82rem;height: 2.52rem;}
.risetwo{left: 8.67rem;bottom: 5rem;position: absolute;width: 1.82rem;height: 2.52rem;}
.risethree{left: 12.3rem;bottom: 5rem;position: absolute;width: 1.82rem;height: 2.52rem;}
#footer .riseone{left: 5.1rem;bottom: 4.7rem;transition:3s;}
#footer .risetwo{left: 8.67rem;bottom: 4.7rem;transition:3s;}
#footer .risethree{left: 12.3rem;bottom: 4.7rem;transition:3s;}
.f-dn{display: none;}
/*donghua*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}